.container {
  flex: 1 0;

  display: flex;
  flex-direction: column;
  overflow-y: auto;

  .message {
    padding: 1rem;
    transition: all .25s;

    .identifier {
      overflow-x: hidden;

      & > * {
        display: inline;
      }
    }

    &:hover {
      background-color: var(--bg-low);
    }
  }
}

.error {
  padding: 1rem;
  border-radius: 1rem 1rem 0 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: #2626FA;

  button {
    cursor: pointer;
    color: white;
    border: none;
    background-color: inherit;
  }
}