.container {
  background-color: var(--bg-mid);
  margin: 0 auto;
  height: 100%;

  @media screen and (orientation: landscape) {
    aspect-ratio: 1;
  }
  @media screen and (orientation: portrait) {
    width: 100%;
  }
}